body {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(25, 26, 25, 1);
  font-family: "Poppins", sans-serif;
}

/* header styles */
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 158px;
  margin: 0 112px;
}
.header-block {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(25, 26, 25, 1);
}
.header-logo {
  width: 100%;
}
.nav-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.navbar {
  width: 505px;
  height: 65px;
  display: flex;
  align-items: center;
}
.nav-li {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.nav-li:hover {
  color: rgba(255, 116, 32, 1);
}
.nav-li::after {
  content: " ";
  height: 3px;
  width: 0px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(255, 116, 32, 1);
  transition: all 1s;
}
.nav-li:hover::after {
  width: 100%;
}
.header-forms {
  display: flex;
  align-items: center;
}
.lang-form {
  width: 145px;
  padding: 10px;
}
#languages {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(25, 26, 25, 1);
  cursor: pointer;
  border: none;
  outline: none;
}
#languages:focus {
  outline: none;
  border: none;
}
.btn {
  background: rgba(255, 116, 32, 1);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: rgba(255, 255, 255, 1);
  border-radius: 15px;
  padding: 15px 30px;
  cursor: pointer;
  width: 194px;
  height: 66px;
}
.burger-bar {
  display: none;
  cursor: pointer;
  border: 1px solid rgba(204, 213, 255, 0.11) !important;
  border-radius: 12px;
  padding: 0.55rem 1rem;
  font-size: 1.65rem;
  line-height: 1;
  background-color: transparent;
  color: rgba(255, 116, 32, 1);
}
